@media only screen and (max-device-width: 400px) {
    body {
        display: none;
        background-color: red;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}


body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

/* Headers och menus */
header {
    height: 10vh;
    /* color: red; */
    width: 100vw;
}

.menu-desktop {
    /* background-color: aqua; */
    display: grid;
    height: inherit;
    width: inherit;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: 5px 10px 5px #aaaaaa;
    background-color: white;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    font-size: 50px;
    align-self: center;
    justify-self: center;
    
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo a:hover {
    text-decoration: underline;
}

.menu-desktop > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    font-size: 18px;
    /* justify-content: center; */
}

.menu-desktop > ul li a {
    text-decoration: none;
    color: black;
}

.menu-desktop > ul li a:hover {
    text-decoration: underline;
}

/* Index-main-video-background */
.bg {
    position: fixed;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.overlay {
    width: inherit;
    height: 90vh; 
    z-index: -99;
    background-color: black;
    opacity: 0.5;
}

.bg video {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 105%;
    
}

/* Index content */

@keyframes fade-text {
    0% {opacity: 0;}
    66% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-button {
    0% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}
}

.index-main {
    position: absolute;
    top: 10vh;

    /* z-index: -98; */
    height: 90vh;
    width: 100%;
    display: grid;

    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.catchphrase {
    animation: fade-text 2s;
    grid-row: 4 / 5;
    grid-column: 3 / 6;
    align-self: center;
    justify-self: center;
    font-size: 36px;
    color: white;
}

.button {
    animation: fade-button 6.35s;
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    background-color: springgreen;
    border: 1px solid;
    box-shadow: 5px 3px 3px black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a {
    text-decoration: none;
}

.button a:hover{
    text-decoration: black underline;
    
}


.button-text {
    color: black;
    font-size: 18px;
}

/* Trains main */

.trains-main {
    display: grid;
    padding-top: 30px;
    padding-left: 30px;
    height: 1000px;

    /* width: 70vw; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-row-gap: 15px; */
    /* grid-column-gap: 100px; */
}

.train {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    box-shadow: 5px 3px 3px black;
    height: 400px;
}

.train-img {
    overflow: hidden;
    width: 100%;
    height: 75%;
}

.to-train {
    width: 100%;
    height: 25%;
    background-color: springgreen;
    display: flex;
    justify-content: center;
    
}

.to-train div {
    align-self: center;    
}


.to-train a {
    
    text-decoration: none;
    color: black;
    font-size: 36px;
}

.to-train a:hover {
    text-decoration: underline;

}

/* Train main */
.train-main {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.image{
    width: 400px;
    height: 400px;
    grid-column: 1 / 2;
}

.image img {
    width: inherit;
    height: inherit;
}

.text {
    grid-column: 2 / 3;
}