html {
    overflow-x: hidden;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

/* Headers och menus */
header {
    height: 10vh;
    width: 100vw;
}

.menu-desktop {
    display: grid;
    height: inherit;
    width: inherit;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: 5px 10px 5px rgb(39, 39, 39);
    background-color: white;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    font-size: 50px;
    align-self: center;
    justify-self: center;
    
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo a:hover {
    text-decoration: underline;
}

.menu-desktop > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    font-size: 18px;
}

.menu-desktop > ul li a {
    text-decoration: none;
    color: black;
}

.menu-desktop > ul li a:hover {
    text-decoration: underline;
}

/* Index-main-video-background */
.bg {
    position: fixed;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.overlay {
    width: inherit;
    height: 90vh; 
    z-index: -99;
    background-color: black;
    opacity: 0.5;
}

.bg video {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 105%;
    
}

/* Index content */

@keyframes fade-text {
    0% {opacity: 0;}
    66% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-button {
    0% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}
}

.index-main {
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100%;
    display: grid;

    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.catchphrase {
    grid-row: 4 / 5;
    grid-column: 3 / 6;

    animation: fade-text 2s;
    align-self: center;
    justify-self: center;
    font-size: 36px;
    color: white;
}

.button {
    grid-row: 5 / 6;
    grid-column: 4 / 5;

    animation: fade-button 6.35s;
    background-color: springgreen;
    border: 1px solid;
    box-shadow: 5px 3px 3px black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a {
    text-decoration: none;
}

.button a:hover{
    text-decoration: black underline;
    
}

.button-text {
    color: black;
    font-size: 18px;
}

/* Trains main */

.trains-main {
    display: grid;
    padding-top: 30px;
    padding-left: 30px;
    height: 1000px;
    width: 80vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.train {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    box-shadow: 5px 3px 3px black;
    height: 400px;
}

.train-img {
    overflow: hidden;
    width: 100%;
    height: 75%;
}

.to-train {
    width: 100%;
    height: 25%;
    background-color: springgreen;
    display: flex;
    justify-content: center;
}

.to-train div {
    align-self: center;    
}


.to-train a {
    text-decoration: none;
    color: black;
    font-size: 36px;
}

.to-train a:hover {
    text-decoration: underline;
}

/* Train main */
.wrapper {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.bg_img {
    z-index: -1000;
    position: absolute;
    top: 10vh;
    left: 0;
    background-image: url("../img/background.jpg");
    width: 100vw;
    height: 1040px;
    min-height: inherit;
    background-repeat: repeat;
}

.train-main {
    background-color: white;
    margin-top: 30px;
    padding: 30px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    box-shadow: 5px 3px 3px black;
    border: 1px solid;
}

.train-main h1 {
    padding: 0;
    margin: 0;
}

.image{
    width: 500px;
    height: 500px;
    grid-column: 1 / 2;
}

.image img {
    width: inherit;
    height: inherit;
}

.text {
    grid-column: 2 / 3;
}

@media only screen and (max-device-width: 420px) {
    @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
    body {
        font-family: 'Anonymus Pro', monospace;
    }

    .menu-desktop {
        transition: height 0.5s;
        -moz-transition: height 0.5s;
        position: absolute;
        z-index: 500;
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(5, 1fr);
        height: inherit;
    }

    .open_menu {
        height: 32vh;
    }

    .close {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        width: 48px; height: 48px;
        background: url('../css_sprites.png') -10px -10px;
    }

    .open {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        width: 48px; height: 48px;
        background: url('../css_sprites.png') -78px -10px;
    }

    .open_ul {
        display: grid !important;
    }

    .menu-desktop ul {
        height: 100%;
        grid-row: span 2;
        grid-column: 1 / 4;
        align-self: right;
        display: none;
        grid-template-columns: repeat(2, 1fr);
    }

    #item1 {
        grid-row: 1 / 2;
        padding: 20px;
    }

    #item2 {
        grid-row: 2 / 3;
        padding: 20px;
    }

    .logo {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .bg video {
        display: none;
    }

    .bg img {
        display: inline;
        height: 100%;
    }

    .bg_img {
        height: 2600px;
        background-repeat: repeat;
    }

    .train-main > .bg_img {
        height: 1020px !important;
        background-repeat: repeat;
    }

    .button {
        animation: none;
        grid-column: 3 / 6;
    }

    .catchphrase {
        animation: none;
    }

    .overlay {
        display: none;
    }

    .trains-main {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 30px;
        width: 100%;
        padding-bottom: 10px;
    }

    .train {
        width: 95vw;
        height: 95vw;
    }

    .train-img {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .train-main {
        display: grid;
        width: 100vw;
        height: auto;
        grid-template-columns: 100vw;
        grid-column-gap: 0;
        grid-template-rows: 95vw auto;
    }

    .image {
        grid-row: 1 / 2;
        width: 95vw;
        height: 95vw;
        padding-left: 2.5vw;
    }
    
    .text {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        width: 95vw;
        padding-left: 2.5vw;
    }
}
