<div class="wrapper">

    <main class="train-main">
        <div class="image">
            <img src="/img/me_me.jpg">
        </div>
        <div class="text">
            <h1>Emil Babayev</h1>
            <p>
                <h2>Nyckelfakta</h2>
                <ul>
                    <li>Typ: Människa</li>
                    <li>Effekt: ungefär 100 W</li>
                    <li>Först byggd: 2000</li>
                    <li>Tjänstevikt: 70 kg</li>
                    <li>Körs av: Edvin</li>
                    <li>Maxhastighet: purty fast</li>
                </ul>
            </p>
            <p>
                <h2>Presentation</h2>
                <p>
                    Ja det är jag.
                </p>
            </p>
            <p>
                <h2>Trivia</h2>
                <ul>
                    <li>"Va ä dä för en krågejävel"</li>
                    <li>Vill vara pågatåg</li>
                </ul>
            </p>
        </div>
    </main>
</div>