

<div class="main-bg">
    <div class="overlay"></div>

    <div class="bg">
        <video loop autoplay poster="img/train_poster.jpg">
            <source src="media/train.mp4" type="video/mp4">
        </video>

        <img src="img/x61_3.jpg" alt="" srcset="">
    </div>
</div>


<main class="index-main">
    <div class="catchphrase">Tågintresserad?</div>
    <div class="button">
        <a href="x61.html">
            <div class="button-text">
                    Läs mer om X61
            </div>
        </a>
    </div>
</main>


