<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css" type="text/css" />      
        <script src="js/menu.js"></script>  
    </head>
    <body>
        <header>
            
            <div class="menu-desktop">
                <div class="logo"><a href="index.html">TÅG</a></div>
                <ul>
                    <li id="item1"><a href="trains.html">Tågen</a></li>
                    <li id="item2"><a href="about.html">Om</a></li>
                </ul>
                <div class="menu_button open" onclick="toggleMenu()"></div>
            </div>
            
        </header>
        <%= yield %>
    </body>
</html>