<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css" type="text/css" />        
    </head>
    <body>
        <header>
            
            <div class="menu-desktop">
                <div class="logo">TÅG</div>
                <ul>
                    <li id="item1">Tågen</li>
                    <li id="item2">Om</li>
                </ul>
            </div>
            
        </header>
        <%= yield %>
    </body>
</html>