<div class="wrapper">
    
    <main class="train-main">
        <div class="bg_img">
        
        </div>
        <div class="image">
            <img src="/img/x55_2.jpg">
        </div>
        <div class="text">
            <h1>X55</h1>
            <p>
                <h2>Nyckelfakta</h2>
                <ul>
                    <li>Typ: Motorvagn</li>
                    <li>Effekt: 3180 kW</li>
                    <li>Först byggd: 2010</li>
                    <li>Axelföljd: Bo'Bo'+Bo'Bo'+2'2'+Bo'Bo'</li>
                    <li>Körs av: SJ</li>
                    <li>Maxhastighet: 200 km/h (har högre hastighetsrekord)</li>
                </ul>
            </p>
            <p>
                <h2>Presentation</h2>
                <p>
                    Den spirituella ersättaren till X2, som körs på vissa X2-rutter, exempelvis Göteborg - Köpenhamn. Tillhör Regina-klassen med tåg.
                </p>
            </p>
            <p>
                <h2>Trivia</h2>
                <ul>
                    <li>I första klass bjuds det på muffins och té!</li>
                </ul>
            </p>
        </div>
    </main>
</div>