<div class="wrapper">
    <main class="train-main">
        <div class="image">
            <img src="/img/y31_2.jpg">
        </div>
        <div class="text">
            <h1>Y31</h1>
            <p>
                <h2>Nyckelfakta</h2>
                <ul>
                    <li>Typ: Dieselmotorvagn</li>
                    <li>Effekt: 960 kW</li>
                    <li>Först byggd: 2002</li>
                    <li>Tjänstevikt: 79 ton</li>
                    <li>Körs av: Västtrafik, Värmlandstrafik mfl.</li>
                    <li>Maxhastighet: 140 km/h</li>
                </ul>
            </p>
            <p>
                <h2>Presentation</h2>
                <p>
                    Y31 är ett g
                </p>
            </p>
            <p>
                <h2>Trivia</h2>
                <ul>
                    <li>Även om X2 på pappret är en motorvagn, har tågsättet en tydlig lokdel. Tågsättet är också semipermanent sammankopplas och vagnarna kan kopplas loss.</li>
                </ul>
            </p>
        </div>
    </main>
</div>