<div class="wrapper">
    <main class="train-main">
        <div class="image">
            <img src="/img/y31_2.jpg">
        </div>
        <div class="text">
            <h1>Y31</h1>
            <p>
                <h2>Nyckelfakta</h2>
                <ul>
                    <li>Typ: Dieselmotorvagn</li>
                    <li>Effekt: 3260 kW</li>
                    <li>Först byggd: 1989</li>
                    <li>Tjänstevikt: 73 ton</li>
                    <li>Körs av: SJ</li>
                    <li>Maxhastighet: 200 km/h (har högre hastighetsrekord)</li>
                </ul>
            </p>
            <p>
                <h2>Presentation</h2>
                <p>
                    Tågsättet X2, mer känt som X2000 (som heter SJ 2000 numera) är ett av Sveriges folkkäraste tågsätt.
                    De är hårt förknippade med SJ och var ett av de första tågen i världen med korglutning för att öka komforten.
                </p>
            </p>
            <p>
                <h2>Trivia</h2>
                <ul>
                    <li>Även om X2 på pappret är en motorvagn, har tågsättet en tydlig lokdel. Tågsättet är också semipermanent sammankopplas och vagnarna kan kopplas loss.</li>
                </ul>
            </p>
        </div>
    </main>
</div>